certifi==2018.11.29
chardet==3.0.4
ddt==1.2.0
et-xmlfile==1.0.1
idna==2.8
jdcal==1.4
mysql-connector-python==8.0.16
numpy==1.22.0
openpyxl==2.5.12
pandas==0.20.3
protobuf==3.7.1
PyMySQL==0.9.3
python-dateutil==2.7.5
pytz==2018.7
requests==2.21.0
six==1.12.0
urllib3==1.24.1
